@charset "UTF-8";
@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0; }

.page {
  min-width: 320px;
  height: 100%; }

/*╤И╨░╨┐╨║╨░ ╨╜╨░╤З╨░╨╗╨╛*/
.header {
  background-color: #CF5748;
  background-position: center;
  /*GROW ╨╜╨░╤З╨░╨╗╨╛*/
  /*GROW ╨║╨╛╨╜╨╡╤Ж*/
  /*╨│╨░╨╝╨▒╤Г╤А╨│╨╡╤А css ╨╜╨░╤З╨░╨╗╨╛*/
  /*╨│╨░╨╝╨▒╤Г╤А╨│╨╡╤А css ╨║╨╛╨╜╨╡╤Ж*/
  /*╤Е╤Ф╨┤╤Ф╤А ╨║╨╛╨╜╨╡╤Ж*/ }
  .header-menu {
    height: 5.7em;
    border-bottom: 1px solid #fff; }
  .header-logo {
    padding: 1.4em 0 0 .5em;
    float: left; }
  .header-logo-txt {
    font: 2.1em "Lobster";
    color: #FEFEFE; }
  .header-image {
    padding-top: .2em;
    width: 100%;
    border-bottom: 1px solid #fff; }
    .header-image-object {
      width: 100%; }
  .header-services {
    height: 100%;
    background-color: #CF5748;
    padding-top: 2em;
    text-align: center; }
    .header-services-h {
      font: 19px Ubuntu, Arial, sans-serif;
      font-weight: 400;
      color: #FEFEFE; }
    .header-services-p {
      font: 16px Ubuntu, Arial, sans-serif;
      font-weight: 400;
      color: #FEFEFE;
      padding-top: .5em; }
  .header-info {
    padding-bottom: 1em; }
    .header-info1, .header-info2, .header-info3 {
      width: 90%;
      padding-top: 3em;
      margin: 0 auto; }
      .header-info1-content, .header-info2-content, .header-info3-content {
        margin-top: 1em; }
        .header-info1-content-header, .header-info2-content-header, .header-info3-content-header {
          font: 19px Ubuntu, Arial, sans-serif;
          color: #FEFEFE; }
        .header-info1-content-txt, .header-info2-content-txt, .header-info3-content-txt {
          -moz-hyphens: auto;
          -webkit-hyphens: auto;
          -ms-hyphens: auto;
          width: 90%;
          padding: .5em 0 1em .5em;
          font-weight: 400;
          font: 16px Ubuntu, Arial, sans-serif;
          color: #FEFEFE; }
      .header-info1-ref, .header-info2-ref, .header-info3-ref {
        -webkit-border-radius: .2em;
        -moz-border-radius: .2em;
        border-radius: .2em;
        font-family: Arial;
        color: #fff;
        font-size: .7em;
        padding: .5em 1em;
        border: solid #fff 1px;
        text-decoration: none; }
        .header-info1-ref:hover, .header-info2-ref:hover, .header-info3-ref:hover {
          background: #3cb0fd;
          text-decoration: none; }
  .header .pic {
    border: 5px solid #fff;
    border-radius: 50%;
    float: left;
    margin: 13px 0 0 30px;
    height: 51px;
    width: 51px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111; }
  .header .grow img {
    height: 51px;
    width: 51px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; }
    .header .grow img:hover {
      width: 58px;
      height: 58px; }
  .header .btn-menu {
    color: #fff;
    background-color: #CA6C5A;
    padding: 10px;
    position: fixed;
    top: 22px;
    right: 20px;
    cursor: pointer;
    transition: right .8s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }
    .header .btn-menu span {
      display: block;
      height: 5px;
      background-color: #fff;
      margin: 5px 0 0;
      transition: all .1s linear .23s;
      position: relative; }
    .header .btn-menu span.first {
      margin-top: 0; }
  .header .hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 140px 0 0 60px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right .5s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }
    .header .hidden-menu li {
      padding-bottom: 10px; }
    .header .hidden-menu li a {
      text-decoration: none;
      font: 19px Ubuntu, Arial, sans-serif;
      font-weight: 400;
      color: #CA6C5A; }
      .header .hidden-menu li a:hover {
        color: #EDBD47; }
  .header .hidden-menu-ticker {
    display: none; }
  .header .hidden-menu-ticker:checked ~ .btn-menu {
    right: 140px; }
  .header .hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0; }
  .header .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px; }
  .header .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0; }
  .header .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px; }

/*╨║╨╛╨╜╤В╨╡╨╜╤В-works ╨╜╨░╤З╨░╨╗╨╛*/
.works {
  background: #EBEBEA;
  height: 100%;
  padding: 3.5em 0 .5em;
  text-align: center;
  /*╨║╨╛╨╜╤В╨╡╨╜╤В-works ╨║╨╛╨╜╨╡╤Ж*/ }
  .works-header {
    font: 19px Ubuntu, Arial, sans-serif;
    font-weight: 400;
    color: #313131; }
  .works-box-form {
    padding-top: .5em; }
  .works-box-form1 {
    padding-bottom: 1em; }
  .works-txt {
    font: 16px Ubuntu, Arial, sans-serif;
    font-weight: 400;
    color: #313131;
    padding-top: 1em; }
  .works-form {
    padding: .7em 4em; }
  .works-objects {
    width: 75%;
    display: inline-block; }
  .works-object1, .works-object3, .works-object5 {
    width: 31.5vw;
    height: 31.5vw;
    border: 1px solid #000;
    float: left;
    margin-top: 2em; }
  .works-object2, .works-object4, .works-object6 {
    width: 31.5vw;
    height: 31.5vw;
    border: 1px solid #000;
    float: left;
    margin: 2em 0 0 2em; }
  .works-object7, .works-object8 {
    visibility: hidden; }
  .works-add {
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    margin: 2em auto; }
  .works-add-item {
    text-decoration: none;
    vertical-align: middle; }

/*╨║╨╛╨╜╤В╨╡╨╜╤В-about ╨╜╨░╤З╨░╨╗╨╛*/
.about {
  height: 100%;
  background: #EDBD47; }
  .about-resume {
    width: 280px;
    height: 430px;
    background: #fff;
    border: 1px solid #000; }
  .about-foto {
    width: 255px;
    height: 280px;
    background: #92AECB;
    border: 1px solid #000; }

/*╨║╨╛╨╜╤В╨╡╨╜╤В-about ╨║╨╛╨╜╨╡╤Ж*/
/*╨║╨╛╨╜╤В╨╡╨╜╤В-studio ╨╜╨░╤З╨░╨╗╨╛*/
.studio {
  height: 100%;
  background: #3DB062; }
  .studio-carousel {
    height: 200px;
    background: #fff;
    border-top: 50px solid #3DB062;
    border-bottom: 50px solid #3DB062; }

/*╨║╨╛╨╜╤В╨╡╨╜╤В-studio ╨║╨╛╨╜╨╡╤Ж*/
/*╨║╨╛╨╜╤В╨╡╨╜╤В-contacts ╨╜╨░╤З╨░╨╗╨╛*/
.contacts {
  height: 100%;
  background: #323232; }
  .contacts-item1 {
    height: 100px; }
  .contacts-item2 {
    height: 100px; }
  .contacts-item3 {
    height: 100px; }

/*╨║╨╛╨╜╤В╨╡╨╜╤В-contacts ╨║╨╛╨╜╨╡╤Ж*/
/*╤Д╨╛╤А╨╝╨░ ╨╜╨░╤З╨░╨╗╨╛*/
.form {
  height: 100%;
  background: #EDBD47; }
  .form-field {
    height: 100px;
    background: #fff;
    border: 1px solid #000; }
  .form-btn {
    width: 70px;
    height: 20px;
    background: #fff;
    border: 1px solid #000; }

/*╤Д╨╛╤А╨╝╨░ ╨║╨╛╨╜╨╡╤Ж*/
/*social ╨╜╨░╤З╨░╨╗╨╛*/
.social {
  height: 100%;
  background: #D0D0CF; }
  .social-items {
    border: 1px solid #000; }

/*social ╨║╨╛╨╜╨╡╤Ж*/
@media only screen and (min-width: 480px) {
  .wrapper {
    max-width: 480px;
    min-width: 100%;
    margin: 0 auto; }

  .header {
    background-color: #CF5748;
    background-position: center; }
    .header-menu {
      height: 5.7em;
      border-bottom: 1px solid #fff; }
    .header-logo {
      padding: 1.4em 0 0 .5em;
      float: left; }
    .header-logo-txt {
      font: 2.1em "Lobster";
      color: #FEFEFE; }

  .works-objects {
    width: 90%; }
  .works-object1, .works-object4 {
    width: 25vw;
    height: 25vw;
    border: 1px solid #000;
    float: left;
    margin-left: .4em; }
  .works-object2, .works-object3, .works-object5, .works-object6 {
    width: 25vw;
    height: 25vw;
    border: 1px solid #000;
    float: left;
    margin-left: 1.7em; } }
@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    min-width: 100%;
    margin: 0 auto; }

  .header {
    background-color: #CF5748;
    background-position: center;
    height: 100%; }
    .header-logo-txt {
      font: 2.5em "Lobster"; }
    .header .hidden-menu {
      padding: 10px 0 0 150px;
      width: 300px;
      right: -300px; }
    .header .hidden-menu-ticker:checked ~ .btn-menu {
      right: 230px; }

  .works-form {
    padding: .7em 19.5em; }
  .works-objects {
    width: 90%; }
  .works-object1, .works-object4 {
    width: 24vw;
    height: 24vw;
    border: 1px solid #000;
    float: left;
    margin: 3.2em 0 0 .8em; }
  .works-object2, .works-object3, .works-object5, .works-object6 {
    width: 24vw;
    height: 24vw;
    border: 1px solid #000;
    float: left;
    margin: 3.2em 0 0 3.2em; } }
@media only screen and (min-width: 980px) {
  .wrapper {
    max-width: 980px;
    min-width: 100%;
    margin: 0 auto; }

  .header {
    background-color: #CF5748;
    background-position: center;
    height: 100%; }
    .header .hidden-menu {
      padding: 10px 0 0 200px;
      width: 380px;
      right: -380px; }
    .header .hidden-menu-ticker:checked ~ .btn-menu {
      right: 310px; }
    .header-info {
      display: inline-block; }
      .header-info1, .header-info2, .header-info3 {
        width: 30%;
        float: left;
        padding: 1em; }

  .works {
    height: 100%; }
    .works-box-form {
      margin-top: 1.5em;
      width: 50em;
      height: 2.5em;
      display: inline-block; }
    .works-box-form1 {
      width: 18em;
      height: 1em;
      float: left; }
    .works-txt {
      height: 1em;
      line-height: .1em; }
    .works-box-form2 {
      width: 20em;
      height: 2.5em;
      float: left; }
    .works-form {
      padding: .7em 10em; }
    .works-objects {
      width: 90%; }
    .works-object1, .works-object5 {
      width: 18vw;
      height: 18vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 .8em; }
    .works-object2, .works-object3, .works-object4, .works-object6 {
      width: 18vw;
      height: 18vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 3.2em; }
    .works-object7, .works-object8 {
      visibility: visible;
      width: 18vw;
      height: 18vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 3.2em; } }
@media only screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    min-width: 100%;
    margin: 0 auto; }

  .header {
    background-color: #CF5748;
    background-position: center;
    height: 100%; }
    .header-logo {
      padding: .8em 0 0 2em; }
    .header-logo-txt {
      font: 3em "Lobster"; }
    .header .pic {
      margin: 8px 0 0 30px;
      height: 61px;
      width: 61px; }
    .header .grow img {
      height: 61px;
      width: 61px; }
    .header .grow img:hover {
      width: 68px;
      height: 68px; }
    .header .hidden-menu {
      padding: 10px 0 0 150px;
      width: 400px;
      right: -400px; }
    .header .hidden-menu-ticker:checked ~ .btn-menu {
      right: 330px; }

  .works {
    height: 100%; }
    .works-box-form {
      margin-top: 1.5em;
      width: 50em;
      height: 2.5em;
      display: inline-block; }
    .works-box-form1 {
      width: 18em;
      height: 1em;
      float: left; }
    .works-txt {
      height: 1em;
      line-height: .1em; }
    .works-box-form2 {
      width: 20em;
      height: 2.5em;
      float: left; }
    .works-form {
      padding: .7em 10em; }
    .works-objects {
      width: 95%; }
    .works-object1, .works-object5 {
      width: 20vw;
      height: 20vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 .8em; }
    .works-object2, .works-object3, .works-object4, .works-object6 {
      width: 20vw;
      height: 20vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 3.2em; }
    .works-object7, .works-object8 {
      visibility: visible;
      width: 20vw;
      height: 20vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 3.2em; } }
@media only screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1900px;
    min-width: 100%;
    margin: 0 auto; }

  .header {
    background-color: #CF5748;
    background-position: center;
    height: 100%; }
    .header-logo {
      padding: .5em 0 0 3em; }
    .header-logo-txt {
      font: 3.5em "Lobster"; }

  .pic {
    margin: 5px 0 0 30px;
    height: 74px;
    width: 74px; }

  .grow img {
    height: 74px;
    width: 74px; }

  .grow img:hover {
    width: 81px;
    height: 81px; }

  .btn-menu {
    padding: 25px;
    top: 5px;
    right: 5px; }

  .hidden-menu {
    padding: 10px 0 0 300px;
    width: 600px;
    right: -600px; }

  .hidden-menu-ticker:checked ~ .btn-menu {
    right: 500px; }

  .works {
    height: 100%; }
    .works-box-form {
      margin-top: 1.5em;
      width: 50em;
      height: 2.5em;
      display: inline-block; }
    .works-box-form1 {
      width: 18em;
      height: 1em;
      float: left; }
    .works-txt {
      height: 1em;
      line-height: .1em; }
    .works-box-form2 {
      width: 20em;
      height: 2.5em;
      float: left; }
    .works-form {
      padding: .7em 10em; }
    .works-objects {
      width: 90%; }
    .works-object1, .works-object5 {
      width: 20vw;
      height: 20vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 .8em; }
    .works-object2, .works-object3, .works-object4, .works-object6 {
      width: 20vw;
      height: 20vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 3.2em; }
    .works-object7, .works-object8 {
      visibility: visible;
      width: 20vw;
      height: 20vw;
      border: 1px solid #000;
      float: left;
      margin: 3.2em 0 0 3.2em; } }

/*# sourceMappingURL=style.css.map */
