@import '../partials/variables'; // colors, fonts etc...
@import '../partials/layout'; // responsive grid and media queries

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0;
}

.page {
    min-width: 320px;
    height: 100%;
}

/*шапка начало*/
.header {
    background-color: $colr;
    background-position: center;
    
    &-menu{
        height: 5.7em;
        border-bottom: 1px solid #fff;
    }



    &-logo{
        padding: 1.4em 0 0 .5em;
        float: left;
    } 

    &-logo-txt{
        font: 2.1em $fonth;
        color: $colwf;
    }
    
    
    &-image{
        padding-top: 2px;
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    &-image-object{
        width: 100%;
    }
    
    &-info{
        height: 100%;
       background-color: $colr; 
    }
    
    &-info-h{
        
    }
    
    &-info-p{
        
    }
    
    &-info-block{
        
    }
    
    
    
/*GROW начало*/
.pic {
    border: 5px solid #fff;
    border-radius: 50%;
    float: left;
    margin: 13px 0 0 30px; 
    height: 51px;
    width: 51px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;  
}
    
.grow img {
    height: 51px;
    width: 51px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.grow img:hover {
    width: 58px;
    height: 58px;
}
/*GROW конец*/
    
/*гамбургер css начало*/
.btn-menu {
    color: #fff;
    background-color: $colh_l;
    padding: 10px;
    position: fixed;
    top: 22px;
    right: 20px;
    cursor: pointer;
    transition: right .8s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
    
.btn-menu span.first {
  margin-top: 0;
}

    
.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 20px 0 0 100px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #eee;
  height: 100%;
  top: 0;
  right: -200px;
  transition: right .5s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 140px;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
/*гамбургер css конец*/
/*хєдєр конец*/
}

/*контент-works начало*/
.works{
       background: $colw;
    height: 100%;
    
    &-objects{
        
    } 
    
    &-object1{
      width: 100px;
      height: 100px;
    border: 1px solid #000;
    } 
    
    &-object2{
      width: 100px;
      height: 100px;
    border: 1px solid #000;
    } 
    
    &-object3{
       width: 100px;
      height: 100px;
    border: 1px solid #000;
    } 
    
    &-object4{
      width: 100px;
      height: 100px;
    border: 1px solid #000;
    } 
    
    &-object5{
      width: 100px;
      height: 100px;
    border: 1px solid #000;
    } 
    
    &-object6{
      width: 100px;
      height: 100px;
    border: 1px solid #000;
    }
    
    &-add{
        width: 20px;
        height: 20px;
        background: #fff;
    }
    
    &-add-item{
        text-decoration: none;
    }
    /*контент-works конец*/
}

/*контент-about начало*/
.about{
     height: 100%;
    background: $cola;
    
    &-resume{
    width: 280px;    
     height: 430px;
     background: #fff;
    border: 1px solid #000;
    }
    
    &-foto{
    width: 255px;    
     height: 280px;
     background: $colg;
    border: 1px solid #000;
    }
}
/*контент-about конец*/

/*контент-studio начало*/
.studio{
    height: 100%;
    background: $cols;
    
    &-carousel{
        height: 200px;
        background: #fff;
        border-top: 50px solid $cols;
        border-bottom: 50px solid $cols;
    }
}
/*контент-studio конец*/

/*контент-contacts начало*/
.contacts{
    height: 100%;
    background: $colc;
    
    &-item1{
        height: 100px;
    }
    
    &-item2{
        height: 100px;
    }
    
    &-item3{
        height: 100px;
    }
}
/*контент-contacts конец*/

/*форма начало*/
.form{
    height: 100%;
    background: $cola;
    
    &-field{
        height: 100px;
        background: #fff;
        border: 1px solid #000;
    }
    
    &-btn{
        width: 70px;
        height: 20px;
        background: #fff;
        border: 1px solid #000;
    }
}
/*форма конец*/

/*social начало*/
.social{
    height: 100%;
    background: $colsoc;
    
    &-items{
       border: 1px solid #000;
    }
}
/*social конец*/



@include MQ(S) {
    .wrapper{
        max-width: 480px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
            background-color: $colr;
            background-position: center;
            height: 290px;

        &-logo{
            padding: 1.4em 0 0 1.5em;
        } 
    }
}

@include MQ(M) {
    .wrapper{
        max-width: 768px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 500px;

        &-logo-txt{
            font: 2.5em $fonth;
        }

        .hidden-menu {
            padding: 10px 0 0 150px;
            width: 300px;
            right: -300px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 230px;
        }
    }
}

@include MQ(L) {
    .wrapper{
        max-width: 980px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 500px;

        .hidden-menu {
            padding: 10px 0 0 200px;
            width: 380px;
            right: -380px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 310px;
        }
    }

}

@include MQ(SL) {
    .wrapper{
        max-width: 1280px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 700px;

        &-logo{
            padding: .8em 0 0 2em;
        } 

        &-logo-txt{
            font: 3em $fonth;
        }
        
    .pic {
        margin: 8px 0 0 30px; 
        height: 61px;
        width: 61px;
}
    
    .grow img {
        height: 61px;
        width: 61px;
 }

    .grow img:hover {
        width: 68px;
        height: 68px;
    }

        .hidden-menu {
            padding: 10px 0 0 150px;
            width: 400px;
            right: -400px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 330px;
        }
    }
}

@include MQ(ML) {
    .wrapper{
        max-width: 1900px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 700px;

        &-logo{
            padding: .5em 0 0 3em;
        } 

        &-logo-txt{
            font: 3.5em $fonth;
        }
    }
    
    .pic {
        margin: 5px 0 0 30px; 
        height: 74px;
        width: 74px;
    }

    .grow img {
        height: 74px;
        width: 74px;
    }

    .grow img:hover {
        width: 81px;
        height: 81px;
    }

    .btn-menu {
        padding: 25px;
        top: 5px;
        right: 5px;
    }

    .hidden-menu {
        padding: 10px 0 0 300px;
        width: 600px;
        right: -600px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu {
        right: 500px;
}
}