@import '../partials/variables'; // colors, fonts etc...
@import '../partials/layout'; // responsive grid and media queries

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0;
}

.page {
    min-width: 320px;
    height: 100%;
}

/*шапка начало*/
.header {
    background-color: $colr;
    background-position: center;
    
    &-menu{
        height: 5.7em;
        border-bottom: 1px solid #fff;
    }

    &-logo{
        padding: 1.4em 0 0 .5em;
        float: left;
    } 

    &-logo-txt{
        font: 2.1em $fonth;
        color: $colwf;
    }
    
    &-image{
        padding-top: .2em;
        width: 100%;
        border-bottom: 1px solid #fff;
        
        &-object{
            width: 100%;
        }
    }

    &-services{
        height: 100%;
        background-color: $colr;
        padding-top: 2em;
        text-align: center;
        
        &-h{
            font: $fontb;
            font-weight: 400;
            color: $colwf;
        }

        &-p{
            font: $fontb_s;
            font-weight: 400;
            color: $colwf;
            padding-top: .5em;
        }
    }
    
    
        &-info{
            padding-bottom: 1em;
           
            &1,
            &2,
            &3{
                width: 90%;
                padding-top: 3em;
                margin: 0 auto;
                
                &-content{
                    margin-top: 1em;
                    
                    &-header{
                        font: $fontb;
                        color: $colwf;
                    }

                    &-txt{
                        -moz-hyphens: auto;
                        -webkit-hyphens: auto;
                        -ms-hyphens: auto;
                        width: 90%;
                        padding: .5em 0 1em .5em;
                        font-weight: 400;
                        font: $fontb_s;
                        color: $colwf;
                    }
                }

                &-ref{
                    -webkit-border-radius: .2em;
                    -moz-border-radius: .2em;
                    border-radius: .2em;
                    font-family: Arial;
                    color: #fff;
                    font-size: .7em;
                    padding: .5em 1em;
                    border: solid #fff 1px;
                    text-decoration: none;


                    &:hover {
                      background: #3cb0fd;
                      text-decoration: none;
                    } 
                }
            }
        }
    
        /*GROW начало*/
.pic {
    border: 5px solid #fff;
    border-radius: 50%;
    float: left;
    margin: 13px 0 0 30px; 
    height: 51px;
    width: 51px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;  
}
    
.grow img {
    height: 51px;
    width: 51px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    
    &:hover {
        width: 58px;
        height: 58px;
    }
}

/*GROW конец*/
    
/*гамбургер css начало*/
.btn-menu {
    color: #fff;
    background-color: $colh_l;
    padding: 10px;
    position: fixed;
    top: 22px;
    right: 20px;
    cursor: pointer;
    transition: right .8s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    
    & span {
        display: block;
        height: 5px;
        background-color: #fff;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    & span.first {
        margin-top: 0;
    }
}

.hidden-menu {
  display: block;
  position: fixed;
  list-style:none;
  padding: 140px 0 0 60px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #eee;
  height: 100%;
  top: 0;
  right: -200px;
  transition: right .5s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
    
    & li {
        padding-bottom: 10px;
    }

    & li a {
        text-decoration: none;
        font: 19px Ubuntu, Arial, sans-serif;
        font-weight: 400;
        color: $colh_l;
        
        &:hover {
            color: $cola;
        }
    }
}
    
.hidden-menu-ticker {
    display: none;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  right: 140px;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
  right: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
/*гамбургер css конец*/
/*хєдєр конец*/
}

/*контент-works начало*/
.works{
    background: $colw;
    height: 100%;
    padding: 3.5em 0 .5em;
    text-align: center;
    
    &-header{
        font: $fontb;
        font-weight: 400;
        color: $colbf;  
    }
    
    &-box-form{
        padding-top: .5em;
    }
    
    &-box-form1{
        padding-bottom: 1em;
    }
    
    &-txt{
        font: $fontb_s;
        font-weight: 400;
        color: $colbf;
        padding-top: 1em;
    }
    
    &-form{
        padding: .7em 4em; 
    }
    
    &-objects{
        width: 75%;
        display: inline-block;
    } 
    
    &-object1,
    &-object3,
    &-object5{
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        float: left;
        margin-top: 2em;
    } 
    
    &-object2,
    &-object4,
    &-object6{
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        float: left;
        margin: 2em 0 0 2em;
    }
    
    &-object7,
    &-object8{
        visibility: hidden;
    }
    
    &-add{
        width: 1.5em;
        height: 1.5em;
        background: #fff;
        margin: 2em auto;
    }
    
    &-add-item{
        text-decoration: none;
        vertical-align: middle;
    }
    /*контент-works конец*/
}

/*контент-about начало*/
.about{
    height: 100%;
    background: $cola;
    
    &-header{
        font: $fontb;
        font-weight: 400;
        color: $colwf;
        text-align: center;
        padding: 1em 0 .5em;
    }

    &-txt{
        font: $fontb_s;
        font-weight: 400;
        color: $colwf;
        text-align: center;
        padding: .5em 0 1em;
    }

    &-foto{
        width: 90%;
        background: #fff;
        margin: 5px auto;
        
        &-box{
            width: 90%;
            padding: 5% 5% 0 5%;
        }

        &-object{
            width: 100%;
       }
        
        &-txt{
            text-align: center;
            padding: 5% 0;
        }
    }
        
        &-resume{
            padding-bottom: 2em;
            text-align: center;
            
            &-txt{
                padding: 1em;
                width: 90%;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                font-weight: 400;
                font: $fontb_s;
                color: $colwf;
            }

            &-btn{
                -webkit-border-radius: .2em;
                -moz-border-radius: .2em;
                border-radius: .2em;
                font-family: Arial;
                color: #fff;
                font-size: .7em;
                padding: .5em 1em;
                border: solid #fff 1px;
                text-decoration: none;

                &:hover {
                    background: #3cb0fd;
                    text-decoration: none;
                } 
            } 
        }
}
/*контент-about конец*/

/*контент-studio начало*/
.studio{
    height: 100%;
    background: $cols;
    
    &-header{
        text-align: center;
        padding-top: 2em;
        
        &-item1{
            font: $fontb;
            font-weight: 400;
            color: $colwf;
        }

        &-item2{
            font: $fontb_s;
            font-weight: 400;
            color: $colwf;
            padding-top: .5em;
        }
    }
    
    &-carousel{
        height: 200px;
        background: #fff;
        border-top: 50px solid $cols;
        border-bottom: 50px solid $cols;
    }
}
/*контент-studio конец*/

/*контент-contacts начало*/
.contacts{
    height: 100%;
    background: $colc;
    text-align: center;
    padding: 50px 0;
    
    &-item1,
    &-item2,
    &-item3{
        padding: 50px;
        height: 100px;
    }
    
    &-item1-txt,
    &-item2-txt,
    &-item3-txt{
        font: $fontb_s;
        font-weight: 400;
        color: $colwf;
        padding-top: 25px;
    }
}
/*контент-contacts конец*/

/*форма начало - предварительно*/
.form{
    padding-bottom: 30px;
    text-align: center;
    background: $cola;
    
    &-header{
        font: $fontb;
        font-weight: 400;
        color: $colwf;
        text-align: center;
        padding: 1em 0 .5em;
    }

    &-txt{
        font: $fontb_s;
        font-weight: 400;
        color: $colwf;
        text-align: center;
        padding: .5em 0 1em;
    }

    &-user{
        margin: 18px auto;
    }

    &-input{
        width: 243px;
        height: 35px;
        padding: 0 16px;
        margin-bottom: 16px;
        font-size: 15px;
        line-height: 35px;
        border: 1px solid #dde2e4;
        border: 0;
        border-radius: 3px;
    }
    
    &-input-txt{
        width: 243px;
        padding: 10px 16px 50px 16px;
        font-size: 15px;
        border: 1px solid #dde2e4;
        border: 0;
        border-radius: 3px;
    }

   &-btn{
        width: 60px;
        height: 25px;
        margin: 0 9px;
        font-size: 11px;
        color: #fff;
        text-transform: uppercase;
        background: $colc;
        border: 0;
        border-radius: 3px;
    }
}
/*форма конец*/

/*footer начало*/
.footer{
    height: 100%;
    background: $colsoc;
    
    
    &-social{
        position: relative;
        margin: 0;
        
        &-item1{
            background: url(../img/sprites.png) 0 0;
            width: 55px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 20px;
        }
        
        &-item1:hover{
            background: url(../img/sprites.png) -1px -57px ;
            width: 57px;
            height: 54px;
            position: absolute;
            top: 15px;
            left: 20px;
        }
        
        &-item2{
            background: url(../img/sprites.png) -58px 0;
            width: 56px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 90px;
        }
        
        &-item2:hover{
            background: url(../img/sprites.png) -60px -57px ;
            width: 56px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 90px;
        }
        
        &-item3{
            background: url(../img/sprites.png) -114px 0;
            width: 57px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 170px; 
        }
        
        &-item3:hover{
            background: url(../img/sprites.png) -116px -57px ;
            width: 57px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 170px; 
        }
        
        &-item4{
            background: url(../img/sprites.png) -172px 0;
            width: 54px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 250px; 
        }
        
        &-item4:hover{
            background: url(../img/sprites.png) -173px -55px ;
            width: 54px;
            height: 55px;
            position: absolute;
            top: 15px;
            left: 250px; 
        }
    }
    
    &-txt{
        width: 200px;
        padding-top: 150px;
    }
    
    &-copy{
        font: $fontb_s;
        font-weight: bold;
        color: $colbf;
        padding: 0 0 20px 30px;
    }
    
    &-txt1{
        font: $fontb_s;
        color: $colgf;
    }
    
    &-txt2{
        font: 11px Ubuntu, Arial, sans-serif;
        color: $colgf;
        margin-top: 50px;
        padding-top: 100px;
        text-align: center;
    }
}
/*footer конец*/



@include MQ(S) {
    .wrapper{
        max-width: 480px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
    
        &-menu{
            height: 5.7em;
            border-bottom: 1px solid #fff;
        }

        &-logo{
            padding: 1.4em 0 0 .5em;
            float: left;
        } 

        &-logo-txt{
            font: 2.1em $fonth;
            color: $colwf;
        }
    }
    
    .works{
        
        &-objects{
            width: 90%;
        }
        
        &-object1,
        &-object4{
            width: 120px;
            height:120px;
            border: 1px solid #000;
            float: left;
            margin-left: .4em;
        }
        
        &-object2,
        &-object3,
        &-object5,
        &-object6{
            width: 120px;
            height:120px;
            border: 1px solid #000;
            float: left;
            margin-left: 1.7em;
        }
    }
}

@include MQ(M) {
    .wrapper{
        max-width: 768px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 100%;

        &-logo-txt{
            font: 2.5em $fonth;
        }

        .hidden-menu {
            padding: 10px 0 0 150px;
            width: 300px;
            right: -300px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 230px;
        }
    }
    
    .works{
        
        &-form{
            padding: .7em 19.5em; 
        }
        
        &-objects{
            width: 90%;
        }
        
        &-object1,
        &-object4{
            width: 24vw;
            height: 24vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 .8em;
        }
        
        &-object2,
        &-object3,
        &-object5,
        &-object6{
            width: 24vw;
            height: 24vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
    }
}

@include MQ(L) {
    .wrapper{
        max-width: 980px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 100%;

        .hidden-menu {
            padding: 10px 0 0 200px;
            width: 380px;
            right: -380px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 310px;
        }
        
        &-info{
            display: inline-block;
                
            &1,
            &2,
            &3{
                width: 30%;
                float: left;
                padding: 1em;
            }
        }
    }
    
    .works{
        height: 100%;
        
        &-box-form{
            margin-top: 1.5em;
            width: 50em;
            height: 2.5em;
            display: inline-block;
        }
        
        &-box-form1{
            width: 18em;
            height: 1em;
            float: left; 
        }
        
        &-txt{
            height: 1em;
            line-height: .1em;
        }
        
        &-box-form2{
            width: 20em;
            height: 2.5em;
            float: left; 
        }
        
        &-form{
            padding: .7em 10em; 
        }
        
        &-objects{
            width: 90%;
        }
        
        &-object1,
        &-object5{
            width: 18vw;
            height: 18vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 .8em;
        }
        
        &-object2,
        &-object3,
        &-object4,
        &-object6{
            width: 18vw;
            height: 18vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
        
        &-object7,
        &-object8{
            visibility: visible;
            width: 18vw;
            height: 18vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
    }
}

@include MQ(SL) {
    .wrapper{
        max-width: 1280px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 100%;

        &-logo{
            padding: .8em 0 0 2em;
        } 

        &-logo-txt{
            font: 3em $fonth;
        }
        
        .pic {
            margin: 8px 0 0 30px; 
            height: 61px;
            width: 61px;
        }

        .grow img {
            height: 61px;
            width: 61px;
        }

        .grow img:hover {
            width: 68px;
            height: 68px;
        }

        .hidden-menu {
            padding: 10px 0 0 150px;
            width: 400px;
            right: -400px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 330px;
        }
    }
    
    .works{
        height: 100%;
        
        &-box-form{
            margin-top: 1.5em;
            width: 50em;
            height: 2.5em;
            display: inline-block;
        }
        
        &-box-form1{
            width: 18em;
            height: 1em;
            float: left; 
        }
        
        &-txt{
            height: 1em;
            line-height: .1em;
        }
        
        &-box-form2{
            width: 20em;
            height: 2.5em;
            float: left; 
        }
        
        &-form{
            padding: .7em 10em; 
        }
        
        &-objects{
            width: 95%;
        }
        
        &-object1,
        &-object5{
            width: 20vw;
            height: 20vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 .8em;
        }
        
        &-object2,
        &-object3,
        &-object4,
        &-object6{
            width: 20vw;
            height: 20vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
        
        &-object7,
        &-object8{
            visibility: visible;
            width: 20vw;
            height: 20vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
    }
}

@include MQ(ML) {
    .wrapper{
        max-width: 1900px;
        min-width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: $colr;
        background-position: center;
        height: 100%;

        &-logo{
            padding: .5em 0 0 3em;
        } 

        &-logo-txt{
            font: 3.5em $fonth;
        }
    }
    
    .pic {
        margin: 5px 0 0 30px; 
        height: 74px;
        width: 74px;
    }

    .grow img {
        height: 74px;
        width: 74px;
    }

    .grow img:hover {
        width: 81px;
        height: 81px;
    }

    .btn-menu {
        padding: 25px;
        top: 5px;
        right: 5px;
    }

    .hidden-menu {
        padding: 10px 0 0 300px;
        width: 600px;
        right: -600px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu {
        right: 500px;
    }
    
    .works{
        height: 100%;
        
        &-box-form{
            margin-top: 1.5em;
            width: 50em;
            height: 2.5em;
            display: inline-block;
        }
        
        &-box-form1{
            width: 18em;
            height: 1em;
            float: left; 
        }
        
        &-txt{
            height: 1em;
            line-height: .1em;
        }
        
        &-box-form2{
            width: 20em;
            height: 2.5em;
            float: left; 
        }
        
        &-form{
            padding: .7em 10em; 
        }
        
        &-objects{
            width: 90%;
        }
        
        &-object1,
        &-object5{
            width: 20vw;
            height: 20vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 .8em;
        }
        
        &-object2,
        &-object3,
        &-object4,
        &-object6{
            width: 20vw;
            height: 20vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
        
        &-object7,
        &-object8{
            visibility: visible;
            width: 20vw;
            height: 20vw;
            border: 1px solid #000;
            float: left;
            margin: 3.2em 0 0 3.2em;
        }
    }
}