// colors

$colh_l: #CA6C5A; // header-burger

$colp_r: #D05D4E; // portfolio red color

$colw: #EBEBEA;  // works bg
 
$cola: #EDBD47; // about bg

$cols: #3DB062; // studio bg

$colc: #323232; // contact bg

$colsoc: #D0D0CF; // social no-active bg

$colr: #CF5748; // red color
$colg_l: #E9E9E8; // light gray color
$colg: #92AECB; // gray color
$colgf: #8B8B8B; // gray font color
$colwf: #FEFEFE; // white font color
$colbf: #313131; // black font color
$colhf_s: #E4A99F; // header small font color
$colaf_s: #F3DD9D; // about small font color
$colaf_l: #959595; // about light font color


// fonts 

$fonth: 'Lobster';
$fonth: '';
$fonth: '';


